<p>
    Click one of the links below to test your authorization rights on the Practice API.
</p>

<h3>
    Pings
</h3>
<ul>
    <li><a href="" ng-click="pings.PingSecure()">Secure</a></li>
    <li><a href="" ng-click="pings.PingPatient()">Patient</a></li>
    <li><a href="" ng-click="pings.PingPractice()">Practice</a></li>
</ul>

<textarea ng-model="pings.Log">
</textarea>
