/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

input[disabled]{
    color: gray;
}

.patient-info{
    position:absolute;
    top:18px;
    right:20px;
    text-align:right;
}

textarea, div.ccd{
    width: 600px;
    height: 300px;
    overflow-x: scroll;
    font: small monospace;
}

.search-form ul{
    list-style: none;
    padding: 0;
}

.search-form label {
    width: 70px;
    display: inline-block;
}

#footer{
    margin-top: 2em;
}

#patientOption{
    display:block;
    width:300px;
}