
<form name="patientSearch" class="search-form">
    <input placeholder="Enter patient search term" ng-model="patientCtrl.SearchTerm" />
    <input type="button"
           value="Search"
           ng-click="patientCtrl.Search(patientCtrl.SearchTerm)"
           ng-disabled="!patientCtrl.SearchTerm || patientCtrl.IsSearchingPatients"
    >
    <select id="patientOption"
            ng-options="patient as (patientCtrl.DisplayName(patient)) for patient in patientCtrl.PatientList"
            ng-model="patientCtrl.Patient"
            ng-if="patientCtrl.PatientList"
            size="8">
    </select>
    <div ng-if="patientCtrl.PatientList && patientCtrl.PatientList.length == 0">No patients found</div>
    <div ng-if="patientCtrl.IsSearchingPatients">Searching...</div>
</form>

<form name="encounterSearch" class="search-form">
    <ul>
        <li>
            <label for="searchStartDate">From:</label>
            <input id="searchStartDate" type="date" ng-model="patientCtrl.SearchStartDate" ng-required="true">
        </li>
        <li>
            <label for="searchEndDate">To:</label>
            <input id="searchEndDate" type="date" ng-model="patientCtrl.SearchEndDate" ng-required="true">
        </li>
        <li>
            <label for="categories">Data:</label>
            <select id="categories"
                    ng-options="category for category in patientCtrl.CategoryList"
                    ng-model="patientCtrl.Category"></select>
        </li>
    </ul>
    <input type="button"
           value="Search"
           ng-click="patientCtrl.RequestEncounterSummaries()"
           ng-disabled="!(!patientCtrl.IsRequestingDates && patientCtrl.Patient && encounterSearch.$valid)"
           ng-class="{ loading: patientCtrl.IsRequestingDates }">
</form>

<span class="status" ng-if="patientCtrl.IsRequestingDates">Requesting Encounters...</span>

<ul ng-if="patientCtrl.EncounterList.length">
    <li ng-repeat="encounter in patientCtrl.EncounterList">
        {{ encounter.summary.encounterDate|date:shortdate }}
        - <a href="#" ng-click="patientCtrl.CCD = encounter.ccd">Data</a>
    </li>
</ul>

<div class="ccd" ng-if="patientCtrl.CCD" ng-class="{ loading: patientCtrl.IsRequesting }">
    {{ patientCtrl.CCD }}
</div>
